@font-face {
  font-family: 'Amatic_SC';
  src: url(fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: 'Amatic_SC';
  src: url(fonts/Amatic_SC/AmaticSC-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Kablammo';
  src: url(fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
}


body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;
  color: #e6ebf1;;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

nav {
display: flex;
flex-direction: row;
}

.title {
font-family: 'Kablammo';
font-size: 6rem;
color: #014e95;

text-align: justify;

display: flex;
margin-left: auto;
order: 2;

flex-shrink: 0;
flex-wrap: wrap;

text-shadow: 1px 1px 2px black;

}

.button-item {
  color: inherit;
  padding: 20px;
  text-align: center;

  display: block;
  background-color: none;
  background-image: url(img/question-mark.png);
  background-size: 100%;
  border: none;

  width: 100px;
  height: 100px;

  order: 2;
}

h2 {
  color: #d6e2ff;
  font-size: 2em;
  text-align: center;

  font-weight: bold;

  text-align: center;
  line-height: normal;

  padding: auto;
}


.button {
  width: 100%;
  margin: 0 auto;

  font-family: 'Amatic_SC';
}

.button-content {
  width: 50%;

  margin: auto;

  background-color: #014f98;
  border-radius: 45px;
  opacity: 1;

}

.button-content-item {
  display: none;
  padding: 30px;

  position: relative;

  z-index: 20;

}

[data-button="rules"]:enabled~.button-content [data-button-content="rules"] {
  display: block;
}

[data-button="rules"]:focus~.button-content [data-button-content="rules"] {
  display: block;
}


.game-placeholder {
  background-color: #0067C5;
  width: 900px;
  height: 900px;
  display: flex;
  margin: 100px auto;

  position: relative;

  z-index: 10;

}

.footer {
  height: 200px;
  display: flex;

  margin-bottom: 20px;

}

a, a:visited {
  text-decoration: none;
  color: #d6e2ff;
}

a:focus, a:hover {
  color: #fefefe;
}


.credits {
  color: #d6e2ff;
  font-family: "Amatic_SC";
  font-size: 2.5em;
  opacity: 100%;

  text-align: justify;
}


#game-end {
  font-family: 'Amatic_SC';
  display: block;

  flex-direction: row;

  width: 500px;
  height: 500px;

  border-radius: 45px;
  opacity: 0.8;
  background: #0067C5;

  font-size: 40px;
  box-sizing: border-box;

  box-shadow: 3px 3px #003b71, -1em 0 .4em #003b71;
}

.victory-button, .defeat-button {
  display: block;
  width: 311px;
  height: 101px;
  border-radius: 45px;
  background: #014f98;
  color:#d6e2ff;

  box-sizing: border-box;

  padding: auto;
  margin: auto;

  font-family: 'Amatic_SC';
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: normal;

  position: relative;
  top: 150px;

  transition-duration: 0.4s;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.victory-button:hover, .defeat-button:hover  {
  background-color: #014e95;
  color: white;
}

#victory-title, #defeat-title {

  display: block;
  margin: 50px auto;

  position: relative;
  top: 150px;

  font-size: 100px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  line-height: normal;

}

.start-over {
  display: block;
  width: 311px;
  height: 101px;
  border-radius: 45px;
  background: #014f98;
  color:#d6e2ff;

  box-sizing: border-box;

  padding: auto;
  margin: auto;

  font-family: 'Amatic_SC';
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  line-height: normal;

  transition-duration: 0.4s;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.game-level {
  display: block;
  width: 311px;
  height: 101px;
  border-radius: 45px;
  background: #014f98;
  color:#d6e2ff;

  box-sizing: border-box;

  padding: auto;
  margin: auto;

  font-family: 'Amatic_SC';
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  line-height: normal;

  transition-duration: 0.4s;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.levels {

  margin: 50px;
  display: grid;
  grid-template-columns: auto auto auto;

}
