@font-face {
  font-family: 'Amatic_SC';
  src: url(fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: 'Amatic_SC';
  src: url(fonts/Amatic_SC/AmaticSC-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Kablammo';
  src: url(fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
}


body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;
  color: #e6ebf1;;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

nav {
display: flex;
flex-direction: row;
}

.title {
font-family: 'Kablammo';
font-size: 6rem;
color: #014e95;

text-align: justify;

display: flex;
margin-left: auto;
order: 2;

flex-shrink: 0;
flex-wrap: wrap;

text-shadow: 1px 1px 2px black;

}


a {
  color: inherit;
  padding: 20px;
  text-align: center;
  text-decoration: none;

  display: block;
  background-color: none;
  white-space: nowrap;
  background-image: url(img/question-mark.png);
  background-size: 100%;
  border: none;

  width: 100px;
  height: 100px;

  order: 2;
}

h2 {
  color: #d6e2ff;
  font-size: 1.5em;
  text-align: center;
}

.button {
  width: 100%;
  margin: 0 auto;
}

.button-name {
  white-space: nowrap;
}

.button-content {
  width: 50%;
  margin: auto;
  background-color: #0067C5;
  border-radius: 12px;
  opacity: 80%;

}

.button-content-item {
  display: none;
  padding: 20px;

}

[data-button="rules"]:hover~.button-content [data-button-content="rules"] {
  display: block;
}

[data-button="rules"]:focus~.button-content [data-button-content="rules"] {
  display: block;
}


/* .game-placeholder {
  background-color: #0067C5;
  width: 900px;
  height: 900px;
  display: block;

  margin: 50px auto;
} */
